<%content_for :title do%>
	Fale Conosco!
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "rating"%>
	<%=javascript_include_tag "rating"%>
	
<%end%>
<div id="Content_products">

<div id="Products">
        <p class="Bread_crumb"><%=link_to "home", root_path%></p>
        <h1 style=" vertical-align:middle; text-align:left;">Fale Conosco!</h1>
        <img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
        <div class="Text_box">
        	
        	<p class="Content" style="text-align:left; font-size:12px;">
        		Tire suas dúvidas e nos envie sugestões através dos canais de atendimento:<br>
				<br>
				Loja 1:<br/>
				<a style="font-size:18px;" href="mailto:contato@farmaciaecovita.com.br">contato@farmaciaecovita.com.br</a><br>
				Ou pelo telefone: 11 4411.6000<br>
				<br>
				SAC:<br/>
				<a style="font-size:18px;" href="mailto:sac@farmaciaecovita.com.br">sac@farmaciaecovita.com.br</a><br>
				Ou pelo telefone: 11 2427.8880<br>
				Saiba como chegar até nós!<br>
				<iframe width="600" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Alameda+Prof.+Lucas+Nogueira+Garcez,+1239+-+Cidade+Sat%C3%A9lite,+Atibaia+-+S%C3%A3o+Paulo,+12941-650,+Brazil&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=45.688268,85.429688&amp;ie=UTF8&amp;geocode=FeQ0n_4deqQ5_Q&amp;split=0&amp;hq=&amp;hnear=Alameda+Prof.+Lucas+Nogueira+Garcez,+1239+-+Cidade+Sat%C3%A9lite,+Atibaia+-+S%C3%A3o+Paulo,+12941-650,+Brazil&amp;ll=-23.123133,-46.55213&amp;spn=0.013024,0.020857&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;q=Alameda+Prof.+Lucas+Nogueira+Garcez,+1239+-+Cidade+Sat%C3%A9lite,+Atibaia+-+S%C3%A3o+Paulo,+12941-650,+Brazil&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=45.688268,85.429688&amp;ie=UTF8&amp;geocode=FeQ0n_4deqQ5_Q&amp;split=0&amp;hq=&amp;hnear=Alameda+Prof.+Lucas+Nogueira+Garcez,+1239+-+Cidade+Sat%C3%A9lite,+Atibaia+-+S%C3%A3o+Paulo,+12941-650,+Brazil&amp;ll=-23.123133,-46.55213&amp;spn=0.013024,0.020857&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        	</p>
            <br />
        </div>
</div>

