<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Obrigado por utilizar nosso sistema de compras! </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">td img {display: block;}</style>
</head>
<body bgcolor="#ffffff">
<table style="font-family:Verdana, Geneva, sans-serif;" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
  <tr>
   <td><img name="modelo_padrao_email_r1_c1" src="http://www.farmaciaecovita.com.br/images/email/modelo_padrao_email_r1_c1.jpg" width="600" height="196" border="0" id="modelo_padrao_email_r1_c1" alt="" /></td>
  </tr>
  <tr>
   <td style="border-bottom:1px solid #9EBF09; font-size:18px; color:#9EBF09; font-weight:bold; padding:5px; text-transform:uppercase">Obrigado por utilizar nosso sistema de compras!</td>
  </tr>
  <tr>
    <td width="600" style="text-align:justify; padding:10px; font-size:12px;">
		<br />
		<br />
		<br />	
      	Olá <%= @order.user.nome%>.
		<br />
		<br />
		Seu pedido está em fase de aprovação, assim que for aprovado você receberá uma notificação e seu produto entrará em fase de manipulação!
		<br />
		<br />
		Qualquer dúvida entre em contato pelo telefone 11 4411-6000.
		<br />
		<br />
		<br />
    </td>
  </tr>
  <tr>
   <td>
	<img name="modelo_padrao_email_r3_c1" src="http://www.farmaciaecovita.com.br/images/email/modelo_padrao_email_r3_c1.jpg" width="600" height="78" border="0" id="modelo_padrao_email_r3_c1" alt="" />
   </td>
  </tr>
</table>
</body>
</html>
