<% title "Edit Banner" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", admin_banner_category_banner_path(@category, @banner) %> |
  <%= link_to "View All", admin_banner_category_banners_path(@category) %>
</p>
