<%content_for :title do%>
	
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "rating"%>
	<%=javascript_include_tag "rating"%>
	
<%end%>
<div id="Content_products">

<div id="Products">
        <p class="Bread_crumb"><%=link_to "home", root_path%></p>
        <h1 style=" vertical-align:middle; text-align:left;">Política de Privacidade</h1>
        <img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
        <div class="Text_box">
        	
        	<p class="Content" style="text-align:left;">
        		A Farmácia de Manipulação Ecovita se compromete a manter a sua privacidade durante toda a navegação em nosso sistema.<br>
				<br>
				Todas as informações cadastrais são de uso exclusivo da Farmácia Ecovita.
        	</p>
            <br />
        </div>
</div>

