<%content_for :title do%>
	
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "rating"%>
	<%=javascript_include_tag "rating"%>
	
<%end%>
<div id="Content_products">

<div id="Products">
        <p class="Bread_crumb"><%=link_to "home", root_path%></p>
        <h1 style=" vertical-align:middle; text-align:left;">Termos de Uso</h1>
        <img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
        <div class="Text_box">
        	
        	<p class="Content" style="text-align:left; font-size:12px;">
        		Todo o conteúdo deste site pertence à XXXXXXXXXXXXX e está protegido pelas leis de copyright. O uso das informações, tais como imagens, textos exclusivos, entre outros conteúdos, é terminantemente proibido e havendo transgressão desta regra, o responsável deverá responder judicialmente.<br>
				<br>
				Todo e qualquer material disponibilizado neste website possui caráter informativo, sem que haja a pretensão de estimular o consumo de medicamentos.<br>
				<br>
				As observações, sugestões formulações e/ou alegações aqui apresentadas não são, em hipótese nenhuma, permissões para uso ou aplicação, nem representam a indução à utilização de quaisquer produtos.<br>
				<br>
				Havendo a necessidade de assistência para problemas de saúde, solicitamos aos usuários que consultem uma de nossos profissionais ou outro de sua confiança, desde que seja devidamente habilitado para atendê-lo.<br>
				<br>
				As informações aqui apresentadas sobre os produtos são baseadas em estudos e literaturas nacionais e internacionais, podendo ser encontradas em catálogos técnicos e comerciais. <br>
				<br>
				As informações referentes aos produtos não são destinadas ao uso alternativo, por essa razão a consulta a profissionais especializados que possam orientar o usuário é indispensável.<br>
				<br>
				A XXXX não se responsabiliza pelo mau uso dos medicamentos ou pelo uso sem orientação de profissional habilitado.<br> 
				<br>
				Os nomes dos produtos deste website podem variar de acordo com a região do País.
				<br>
				Todas as informações deste website estão de acordo com os princípios éticos propostos pelo Conselho Regional de Farmácia do Estado de São Paulo (CRF-SP), pela Agência Nacional de Vigilância Sanitária, em especial pela Resolução RDC nº 44/2009 da ANVISA.
        	</p>
            <br />
        </div>
</div>

