/* CSS Document */



#Text_form 
{
	min-height:100px;
	height:auto;
	width:700px;
	text-align:left;
}

#Text_form  p
{
	font-size:12px;
}

#Form
{
	position:relative;
	height:auto;
	width:420px;
	float:left;	
	margin-left:28px;
	*margin-left:-12px;
}
select{
}

#General #Form_box
	{
		width:420px;
		height:375px;
		*height:395px;
		text-align:right;
		float:left;
	}
	
	.Item_form
	{
		background-image:url(../images/bg_input_form.jpg);
		background-repeat:repeat;
		width:300px;
		font-size:12px;
		border:#666666 1px solid;		
	}
	.Cep1_1
	{
		background-image:url(../images/bg_input_form.jpg);
		background-repeat:repeat;;
		width:90px;
		font-size:12px;
		border:#666666 1px solid;
		
	}
	.N
	{
		background-image:url(../images/bg_input_form.jpg);
		background-repeat:repeat;;
		width:82px;
		font-size:12px;
		border:#666666 1px solid;
		
	}	
	.Cep1_2
	{
		background-image:url(../images/bg_input_form.jpg);
		background-repeat:repeat;
		width:30px;
		font-size:12px;
		border:#666666 1px solid;		
	}
	label
	{
		font:Verdana, Geneva, sans-serif;
		font-size:12px;
		font-weight:bold;
		color:#9ABE0A;
	}	
.Box_password
{
	position:relative;
	float:left;
	width:700px;
	height:50px;
	background-image:url(../images/menu/bg_item_coment.png);
	background-repeat:repeat;
	margin-top:20px;
	margin-bottom:20px;	
}
	#General #Content #Content_products #Products #Warning
	{
		background-image:url(../images/bg_warning.png);
		background-repeat:no-repeat;
		background-position:top center;
		width:680px;
		height:134px;
		margin-top:30px;
		padding:5px 10px 5px 10px;
		margin-bottom:10px;
		
	}
	#General #Content #Content_products #Products #Warning p
	{
		font:Verdana, Geneva, sans-serif;
		font-size:12px;
		font-weight:normal;
		text-align:left;
		
	}	
	#General #Content #Content_products #Products #Warning .w
	{
		font:Verdana, Geneva, sans-serif;
		font-size:18px;
		font-weight:normal;
		text-align:left;
		
	}
	.error_messages
	{
		position:absolute;
		left:430px;
		top:110px;
		width:300px;
		margin-bottom:30px;
		font:Verdana, Geneva, sans-serif;
		font-size:12px;
		font-weight:normal;
		color:red;
		
	}	
	.Bt_finalizar_cadastro
	{
		position:relative;
		float:right;

	}
	.Bt_limpar_cadastro
	{
		background-color:transparent;
		background-image:url('/images/bt_limpar_cadastro.png');
		border:none;
		width:212px;
		height:32px;
		cursor:pointer;		
		position:relative;
		float:left;

	}	
	.Item_form_3
	{
		background-image:url(../images/bg_input_form.jpg);
		background-repeat:repeat;
		width:110px;
		font-size:12px;
		border:#666666 1px solid;		
	}	
	.Item_form_2
	{
		background-image:url(../images/bg_input_form.jpg);
		background-repeat:repeat;
		width:135px;
		font-size:12px;
		border:#666666 1px solid;		
	}