<% title "Banner Category" %>

<p>
  <strong>Name:</strong>
  <%= @banner_category.name %>
</p>

<p>
  <%= link_to "Edit", edit_admin_banner_category_path(@banner_category) %> |
  <%= link_to "Destroy", admin_banner_category_path(@banner_category), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_banner_categories_path %>
</p>
