<%content_for :title do%>
	
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "rating"%>
	<%=javascript_include_tag "rating"%>
	
<%end%>
<div id="Content_products">

<div id="Products">
        <p class="Bread_crumb"><%=link_to "home", root_path%></p>
        <h1 style=" vertical-align:middle; text-align:left;">Prazos de Entrega</h1>
        <img src="/images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
        <div class="Text_box">
        	
        	<p class="Content" style="text-align:left; font-size:12px;">
        		Com o objetivo de garantir a comodidade e praticidade de todos os clientes, a Ecovita entrega seus produtos por meio dos Correios, pelos sistemas Sedex e PAC, em caso de urgência.<br>
					<br>
				Todos os pedidos são enviados mediante confirmação do pagamento. Os prazos de entrega podem variar de acordo com a região do País. Normalmente o prazo para a entrega não excede 10 dias. <br>
				<br>
        	</p>
            <br />
        </div>
</div>

