<% title "Edit Gallery Image" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", admin_page_gallery_gallery_image_path(@page, @gallery, @gallery_image) %> |
  <%= link_to "View All", admin_page_gallery_gallery_images_path(@page, @gallery) %>
</p>
