<%content_for :title do%>
	Parabéns!
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "purchase_finalized"%>	
<%end%>

<div id="Content_products">

<div id="Products">
        <p class="Bread_crumb"><%=link_to "home", root_path%></p>
        <h1 style=" vertical-align:middle; text-align:left;">Compra : Conclusão </h1>
        <img src="images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
        <div class="Text_box">
        	<p class="Tit_1">Sua compra foi efetuada com sucesso!</p>
        	<p class="Content">Obrigado por utilizar nosso site para realizar sua compra. Aproveite e confira nossas prazos de entrega.<br>
			<br>
			<br>
			Envie suas dúvidas ou consulte nosso FAQ clicando nas opções abaixo.</p>
        </div>
        <a href="/sitecontacts"><img src="/images/img_duvidas.jpg" width="333" height="148" /></a>
		<a href="/deliveries"><img src="/images/img_entregas.png" width="325" height="148" /></a>
</div>

<!-- Google Code for Comprou Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 960934624;
var google_conversion_language = "pt";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
var google_conversion_label = "-1C-COifzQMQ4OWaygM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/960934624/?label=-1C-COifzQMQ4OWaygM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
