<%content_for :title do%>
	
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "purchase_finalized"%>	
<%end%>

<div id="Content_products">

<div id="Products">
        <p class="Bread_crumb"><%=link_to "home", root_path%></p>
        <h1 style=" vertical-align:middle; text-align:left;">Compra : Conclusão </h1>
        <img src="images/img_tit_line.png" width="700" height="3" style="margin-bottom:10px; margin-left:-4px; margin-top:10px;" />
        <div class="Text_box">
        	<p class="Tit_1">Sua compra foi efetuada com sucesso!</p>
        	<p class="Content">Obrigado por utilizar nosso site para realizar sua compra. Aproveite e confira nossas prazos de entrega.<br>
			<br>
			<br>
			Envie suas dúvidas ou consulte nosso FAQ clicando nas opções abaixo.</p>
        </div>
        <a href="/sitecontacts"><img src="/images/img_duvidas.jpg" width="333" height="148" /></a>
		<a href="#"><img src="/images/img_entregas.png" width="325" height="148" /></a>


   
</div>