<% title "Edit Product" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", admin_category_product_path(@category, @product) %> |
  <%= link_to "View All", admin_category_products_path(@category) %>
</p>
