
<div id="Most_searched">
        <div id="Search_bar_big">
            <table width="970" border="0">
              <tr height="20">
                <td colspan="3"><a href="#"><img src="/images/tit_backtop.png" width="116" height="8" style="text-align:right; float:right; margin-right:20px;" /></a></td>
              </tr>
              <tr>
                <td width="690" height="40"><div id="Search_for_big" ><input type="text" onblur="if(this.value == '') this.value='Buscar por...';" onfocus="if(this.value=='Buscar por...') this.value='';" value="Buscar por..." name="pesquisa"></div></td>
                <td width="151">
                    <%= select_tag(:id, options_from_collection_for_select(@category_site, :id, :name)) %> 

                </td>
                <td width="115"><a href="#"><img src="/images/user_bars/bt_search.png" width="34" height="23" /></a></td>
              </tr>
            </table>
        </div>
    <!-- <h2><img src="/images/tit_maisbuscados.png" width="161" height="14" alt="mais buscados" title="mais buscados" /></h2>
    <img src="/images/img_greenline.png" width="938" height="3" style="margin-bottom:10px;" />
	-->
	<div id="Tag_cloud">
   	<!--  <p><a class="Tag_giant Tag_bold" href="#">Lorem</a><a class="Tag_bold" href="#">Lorem</a> <a class="Tag_big" href="#">ipsum</a> <a class="Tag_biger" href="#">dolor</a>consectetuer <a class="Tag_underline" href="#">adipiscing</a> elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat Ut wisi enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi</p>
	-->
   	</div>
    <img src="/images/img_cards.png" width="941" height="37" />
    </div>
        <div id="Footer">
        	<table width="970" border="0" style="text-align:center; margin:auto;">
              <tr>
                <td width="541" height="34"><img src="/images/img_ecovita2011.png" width="78" height="9" style="float:left; margin-left:10px;" /></td>
                <td width="413">
                    	<%=link_to "Política de Privacidade", politics_path%> | <%=link_to "Termos de Uso", terms_path%> | <%=link_to "Fale Conosco", sitecontacts_path%>
                </td>
              </tr>
              <tr>
                <td height="141" colspan="2" style="border-top:#CCC 1px solid;"><a href="http://www.korewa.com.br" target="_blank"><img src="/images/img_logokorewa.png" width="81" height="33" alt="korewa" title="korewa" /></a></td>
              </tr>
            </table>

        	<div id=""></div>
        </div>

</div>