<%@category_site.each do |category|%>
<ul class="Category_align">
	<li class="Category_name"><%=link_to category.name, categoria_path(category.url_slug)%></li>
    <%category.subcategories.all.each do |sub|%>
	<li><div class="Category_Sub Sub_ali"><%=link_to sub.name, subcategoria_path(sub.url_slug)%></div></li>
	<%end%>
</ul>
<%end%>